<div class="container">
	@{
		ViewBag.Title = "Nueva Tarea";
	}

	<h2 align="center">Nueva Tarea</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Nueva Tarea</div>
		<div class="panel-body">
			<center>
				<form action="/Tarea/Created" method="post">
					<div class="form-group">
						<label>Nombre: </label>
						<input type="text" class="form-control" required placeholder="Nombre Tarea" name="txtNombre">
					</div>
					<div class="form-group">
						<label>Descripcion: </label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="txtDescripcion"></textarea>
					</div>
					<input type="submit" name="btnGuardar" value="Guardar" class="btn btn-primary" />
				</form>
			</center>
		</div>
	</div>
</div>