<div class="container">
	@{
		ViewBag.Title = "Nueva Tarea";
	}

	<h2 align="center">Nueva Tarea</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Nueva Tarea</div>
		<div class="panel-body">
			<center>
				@Html.Partial("_NewTarea");
			</center>
		</div>
	</div>
</div>