<div class="container">
	@{
		ViewBag.Title = "Nuevo Estado";
	}

	<h2>Nuevo Estado</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Nuevo Estado</div>
		<div class="panel-body">
			<center>
				@Html.Partial("_NuevoEstado");
			</center>
		</div>
	</div>
</div>
