<div class="container">
@{
    ViewBag.Title = "_NuevoCliente";
}

<div class="row">
	<form method="post" action="/Cliente/Created">
		<div class="col-md-4">
			<div class="form-group">
				<label>Cedula: </label>
				<input type="text" class="form-control" placeholder="Cedula cliente" name="txtCedula">
			</div>
			<div class="form-group">
				<label>Nombre: </label>
				<input type="text" class="form-control" placeholder="Nombre cliente" name="txtNombre">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Apellido: </label>
				<input type="text" class="form-control" placeholder="Apellido del Cliente" name="txtApellido">
			</div>
			<div class="form-group">
				<label>Telefono: </label>
				<input type="text" class="form-control" placeholder="Telefono del Cliente" name="txtTelefono">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label>Direccion: </label>
				<input type="text" class="form-control" placeholder="Direccion de Cliente" name="txtDireccion">
			</div>
			<div class="form-group">
				<label>Nit: </label>
				<input type="text" class="form-control" placeholder="Nit del Cliente" name="txtNit">
			</div>
			<div class="form-group">
				<label>Tipo Cliente: </label>
				<select name="cbTipoCliente" class="form-control">
					<option value="1">Juridico</option>
					<option value="2">Natural</option>
				</select>
			</div>
			</div>
			<input type="submit" name="btnGuardar" value="Guardar" class="btn btn-primary" />
	</form>
</div>
</div>