
@{
    ViewBag.Title = "FormCliente";
}

<div class="container">
	<h2>Nuevo Cliente</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Nuevo Cliente</div>
		<div class="panel-body">
			<center>
				@Html.Partial("_NuevoCliente");
			</center>
		</div>
	</div>
</div>


